# Normalize line endings
* text=auto

# Treat images as binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary

# Linguist overrides
*.css linguist-language=CSS
*.js linguist-language=JavaScript
*.html linguist-language=HTML
